.navbar{
background-color: black;

}

.lionn{
    border-radius: 100%;
    
}

.bar{
    display: flex;
}

h6{
    margin-right: 20%;
    margin-top:50px ;
    margin-left: 30px;
    font-weight: 900;
    font-size: 15px;
}